extends layout

block content
  // Main Content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        each post in posts
          .post-preview
            a(href= 'posts/' + post._id)
              h2.post-title= post.pageHeader.heading
              h3.post-subtitle= post.pageHeader.subheading
            p.post-meta
              | Posted by&nbsp;
              a(href='#') #{post.pageHeader.postedBy}
              |  on #{post.pageHeader.postedOn}
          hr

        // Pager
        //ul.pager
        //  li.next
        //    a(href='#') Older Posts →
        //hr
